* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.navbar {
  background-color: #222;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff66cc;
}

.menu-toggle {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.subtitle {
  margin: -2rem 0 -10rem 0;
  font-size: 15rem;
  text-align: center;
  color: #a2a2a293;
  font-family: 'Permanent Marker', cursive;
}

@media (min-width: 769px) {
  .nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
  transition: all 0.3s ease-in-out;
}

}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
@media (max-width: 480px) {
  .subtitle{
    font-size: 4rem;
    margin: 0 0 -3.5rem;
  }
}
@media (479px < width < 769px) {
  .subtitle{
    font-size: 9rem;
    margin: -1rem 0 -6rem;
  }
}
@media (768px < width < 1025px) {
  .subtitle{
    font-size: 12rem;
    margin: -1rem 0 -8rem;
  }
}
